@model Lesson10.Models.AllInvoicesModel
@{
    ViewBag.Title = "Index";
}

<h2>View Invoices</h2>
<table>
    <tr>
        <th>
            Invoice Id
        </th>
        <th>
            Customer Id
        </th>
        <th>
            Invoice Date
        </th>
        <th>
            Total
        </th>
        <th>
            Edit Invoice
        </th>
        <th>
            Delete Invoice
        </th>
    </tr>
    @foreach (Lesson10.Models.InvoiceModel invoice in Model.Invoices)
    {
<tr>
    <td>
        @invoice.InvoiceId
    </td>
    <td>
        @invoice.CustomerId
    </td>
    <td>
        @invoice.InvoiceDate.ToShortDateString()
    </td>
    <td>
        @invoice.Total.ToString("C2")
    </td>
    <td>
        <a href="/Invoice/Edit?InvoiceId=@invoice.InvoiceId"> Edit</a>
    </td>
    <td>
        <a href="/Invoice/Delete?InvoiceId=@invoice.InvoiceId">Delete</a>
    </td>
</tr>
    }
</table>